<header class="px-5 pt-3 pb-3 ">
   <div class="d-flex justify-content-between align-items-center">
      <div class="col-sm-1">
         <img class="img-fluid mb-2" src="../../../assets/images/logo.jpg" alt="Logo">
      </div>
      <ul class="d-flex list-unstyled">
         <li><a href="#">Sair </a></li>
         <img class="sair" src="/imagens/icon.png">
      </ul>
   </div>
</header>

<main class="d-flex justify-content-center mt-3">
   <section class="d-inline-flex justify-content-center p-0 mt-5 mx-3 ">
      <div class="d-inline-flex justify-content-center  border-1 border-secondary p-3">
         <h1>Novas Solicitações<br> de Produtos</h1>
         <h6>7 dias</h6>
         <h2>74</h2>
      </div>
   </section>
   <section class="d-inline-flex justify-content-center p-0 mt-5 mx-3 ">
      <div class="d-inline-flex justify-content-center border-1 border-secondary p-3">
         <h1>Produtos Cadastrados</h1>
         <h2>1057</h2>
      </div>
   </section>
   <section class="d-inline-flex justify-content-center p-0 mt-5 mx-3 ">
      <div class="d-inline-flex justify-content-center border-1 border-secondary p-3 ">
         <h1>Total de clientes</h1>
         <h2>26530</h2>
      </div>
   </section>
</main>

<main class="row d-flex mx-5 px-2 mt-4">  
    <section class="col mr-3">
      <div class="p-0  justify-content-start">
         <h1>Solicitações de Produtos</h1>
      </div>
   </section>
   <section class="col ml-3">
      <div class="p-3 ">
         <h1 >Novos Clientes</h1>
      </div>
   </section>
</main>
<footer>

</footer>