<main class="row w3-white br-16 mx-2 p-4">
  <div class="col-12 d-flex align-content-center justify-content-between">
    <h2 class="mb-0 fw-bolder text-center">Editar Categoria</h2>
    <img (click)="exit()" role="button" src="../../../../../assets/icons/x.png"
      style="height: fit-content;">
  </div>
  <form [formGroup]="form" class="col-12 mt-4">
    <div class="row">
      <div class="col-md-5">
        <label class="h6 mt-3 text-dark" for="edit-status">Editar imagem</label>
        <div style="background-image: url({{supplierImg}}); background-position: center; background-repeat: no-repeat; background-size: cover; width: 189px; height: 174px;" class="br-16 border">
          <div  role="button" class="name-link bg-light line-21 d-flex justify-content-center align-items-center position-relative br-16" style="left: 9px;top: 122px;">
            <i  role="button" class="bi mt-1 h5 mb-0 text-dark-blue bi-pencil-fill"></i>
          </div>
          <input role="button" type="file" class="position-relative i-file-edit-null " style="opacity: 0;" (change)="onSelectFile($event)" accept="image/*" formControlName="image"/>
        </div>
        <br/>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-8">
              <label class="h6 mt-3 text-dark" for="edit-name">Nome</label>
              <input type="text" id="edit-name" class="form-control line-21 br-16 bordder py-3" placeholder="Digite o nome" formControlName="name" />
            </div>
              <div class="col-md-4 ">
                <label class="h6 mt-3 text-dark" for="edit-status">Status</label>
              <select formControlName="status"  id="edit-status" class="form-select py-3 br-16" aria-label="Default status">
                  <option [disabled]="true" [selected]="true">Selecione</option>
                  <option [selected]="editStatus === 'active'"  value="active">🟢 Ativo</option>
                  <option [selected]="editStatus === 'inactive'" value="inactive">🔴 Inativo</option>
              </select>
              </div>
            <div class="col-md-12">
              <label class="h6 mt-3 text-dark" for="edit-description">Descrição</label>
              <textarea type="description" id="edit-description" maxlength="200"
                class="form-control br-16 bordder p-3 overflow-scroll text-dark"
                [value]="" placeholder="Digite a descrição" formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <div class="col-12 px-0">
          <div class="row">
            <div class="col-md-6 mt-3">
              <button class="btn br-16 w3-white  w-100"
                (click)="exit()" type="button">
                <h5 class="fw-bolder text-dark-blue mb-0 py-2">Cancelar</h5>
              </button>
            </div>
            <div class="col-md-6 mt-3">
              <button class="btn br-16 bg-dark-blue  w-100"
                (click)="confirm()" type="sumbit">
                <h5 class="fw-bolder text-light mb-0 py-2">Salvar</h5>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
