.illustration{
    height: 101px;
    width: 101px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bi-x-circle::before {
    background: white;
    border-radius: 16px;
}