<div class="background-logged container-fluid">
  <div class="container pt-5">
    <div class="search-box d-flex w-100 d-flex flex-row">
      <input type='text' placeholder="Search" class="w-100 body-400-md text-white" />
      <img src="../../../assets/icons/icon-search.svg" class="mt-2" width="20" height="16" />
    </div>
    <div class="container-scroll mt-4">
      <table>
        <tr>
          <th class="table-th-1 m-0 ms-1 text-black subtitle-700-lg" scope="col">Name</th>
          <th class="table-th-2 m-0 ms-1 text-black subtitle-700-lg" scope="col">Email</th>
          <th class="table-th-3 m-0 ms-1 text-black subtitle-700-lg" scope="col">CNPJ</th>
          <th class="table-th-6 m-0 ms-1 text-black subtitle-700-lg" scope="col">Data da Solicitação</th>
          <th colspan="2" class="table-th-6 m-0 ms-1 text-black subtitle-700-lg" scope="col"></th>
        </tr>

        <tr *ngFor="let item of kycInformations">
          <td class="py-3">{{item.name}}</td> 
          <td>{{item.email}}</td>
          <td>{{item.cnpj}}</td>
          <td>{{item.date}}</td>
          <td>{{item.verification}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>