
<main class="w-100 d-flex justify-content-center mt-5 mb-5">
    <div class="row px-0 mt-5 container">
        <div class="col-12">
            <div class="row px-0 mt-4 justify-content-between">
                <div class="col-md mt-3">
                    <div class="w-auto h-100 d-flex align-items-center">
                        <img role="button" (click)="backHome()" src="../../../assets/icons/arrow-left.svg" class="me-5" />
                        <h4 class="text-dark fw-bolder mb-0">Solicitações de Fornecedor</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="row align-items-center">
                <div class="col-md-8 mt-3">
                    <div class="input-group">
                        <input type="search"  name="search" [(ngModel)]="filterTerm" class="form-control py-3 br-16 bg-search pe-5" placeholder="Pesquisar" />
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="dropdown">
                        <button class="btn w3-white border d-flex justify-content-between text-start align-items-center py-3 w-100 br-16 dropdown-toggle" type="button" id="orderbysupplier" data-bs-toggle="dropdown" aria-expanded="false">
                          Ordenar por
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="orderbysupplier">
                          <li role="button"><a (click)="sortListByAlphabeticalOrder()" class="dropdown-item">Nome A-Z</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 overflow-x-scroll">
            <div class="col-12 mt-5 px-0">
                <div style="min-width: 1064px;" class="row bg-blur bg-opacity-50 border mx-0 br-16 p-3">
                    <div style="width: 278px !important;" class="col-3 h-100 br-16 align-items-center d-flex">
                        <b class="mb-0 h5 fw-bolder">Nome</b>
                    </div>
                    <div style="width: 268px !important;"  class="col-2 h-100 br-16 align-items-center d-flex">
                        <b class="mb-0 h5 fw-bolder">E-mail</b>
                    </div>
                    <div style="width: 253px;"  class="col-2 colum-cnpj h-100 br-16 align-items-center d-flex">
                        <b class="mb-0 h5 fw-bolder">CNPJ/CPF</b>
                    </div>
                    <div class="col h-100 br-16 align-items-center d-flex">
                        <b class="mb-0 h5 text-nowrap fw-bolder">Data da Solicitação</b>
                    </div>
                    <div class="col h-100 br-16 align-items-center d-flex">
                    </div>
                </div>
            </div>
            <div style="min-width: 1064px;"class="col-12 w3-white mt-3 px-0">
                <table class="table table-office mb-0 table-striped">
                    <tbody>
                      <tr *ngFor="let item of response | filter: filterTerm | paginate: config; let i= index">
                        <td *ngIf="item.profile === 'provider'" style="width: 298px;"><h5 class="mb-0 py-3 ps-4 d-inline-block text-truncate" style="max-width: 281px;">{{item?.name}}</h5></td>
                        <td *ngIf="item.profile === 'provider'" style="width: 268px;"><h5 class="mb-0 py-3 d-inline-block text-truncate" style="max-width: 255px;">{{item?.email}}</h5></td>
                        <td *ngIf="item.cnpj && item.profile === 'provider'" style="width: 255px;"><h5 class="mb-0 py-3  d-inline-block text-truncate" style="max-width: 239px;">{{item?.cnpj | mask: '00.000.000/0000-00'}}</h5></td>
                        <td *ngIf="item.cpf && item.profile === 'provider'" style="width: 255px;"><h5 class="mb-0 py-3  d-inline-block text-truncate" style="max-width: 239px;">{{item?.cpf | mask: '000.000.000-00'}}</h5></td>
                        <td *ngIf="item.profile === 'provider'"><h5 class="mb-0 py-3 text-start">{{item?.createdAt | date:'dd/MM/yyyy' }}</h5></td>
                        <td *ngIf="item.profile === 'provider'"><h5 role="button" (click)="openModals('verificar', item)" class="mb-0 fw-bolder text-center text-dark-blue py-3">Verificar</h5></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 mt-3 d-flex justify-content-end" *ngIf="response.length >= 0">
            <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                <div class="custom-pagination">
                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                        <a *ngIf="!p.isFirstPage()" (click)="p.previous()"><</a>
                    </div>
                    <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            <span>{{ page.label }}</span>
                        </a>
                        <div *ngIf="p.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                        </div>
                    </div>
                    <div class="pagination-next" [class.disabled]="p.isLastPage()">
                        <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                    </div>
                </div>
            </pagination-template>
        </div>
    </div>
</main>
