<nav class="navbar shadow navbar-light fixed-top bg-light-blur">
    <div class="d-flex container justify-content-between align-items-center">
        <img class="img-fluid logo mb-2" src="../../../assets/images/logo.png" alt="Logo">
        <div class="w-auto d-flex align-items-center justify-content-between">
            <h2 class="fw-700 text-primary rounded-circle border border-primary p-name font-size-21 line-21">W</h2>
            <i class="bi text-danger ml-3 bi-box-arrow-in-right"></i>
        </div>
    </div>
</nav> 