<main class="row mx-2 justify-content-center">
    <div class="col-md-8 w3-white br-16 p-4 ">
        <div class="row px-0">
            <div class="col-12 d-flex align-content-center justify-content-between">
                <h2 class="mb-0 fw-bolder text-center">Editar</h2>
                <img (click)="exit()" role="button" src="../../../../../assets/icons/x.png"
                    style="height: fit-content;">
            </div>
            <form [formGroup]="form" (ngSubmit)="confirm()" class="col-12 mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="h6 mt-3 text-dark" for="edit-name">Nome</label>
                        <input type="text" id="edit-name" class="form-control br-16 bordder py-3"
                            placeholder="Digite o nome" formControlName="name" />

                        <label class="h6 mt-3 text-dark" for="edit-cnpj">CNPJ</label>
                        <input type="tel" id="edit-cnpj" mask="00.000.000/0000-00" required="true"
                            class="form-control br-16 bordder py-3" placeholder="Digite o cnpj"
                            formControlName="cnpj" />

                        <label class="h6 mt-3 text-dark" for="edit-contact">Contato</label>
                        <input type="tel" id="edit-contact" mask="(00) 00000-0000" required="true"
                            class="form-control br-16 bordder py-3" placeholder="Digite o telefone"
                            formControlName="phone" />

                        <label class="h6 mt-3 text-dark" for="edit-email">E-mail</label>
                        <input type="email" id="edit-email" class="form-control br-16 bordder py-3"
                            placeholder="Digite o e-mail" formControlName="email" />

                        <label class="h6 mt-3 text-dark" for="edit-doc">Documento</label>
                        <div *ngIf="responseData.document" role="button" (click)="downloadFile()" id="edit-doc" class="border my-2 br-16 w3-white p-3 d-flex justify-content-between w-100 align-content-center">
                          <span>Baixe-o-documento-{{responseData.name}}</span>
                          <img src="../../../../../assets/icons/upload.png" style="height: fit-content;" />
                      </div>
                        <div class="form-check mt-4 form-switch">
                            <input style="scale: 1.4;" class="form-check-input sz-md" formControlName="emphasis" type="checkbox" id="switchEdit">
                            <label class="form-check-label h6 px-2 text-dark" for="switchEdit">Colocar fornecedor em destaque</label>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <button class="btn br-16 w3-white text-dark-blue w-100" (click)="exit()" type="button">
                                    <h6 class="fw-bolder text-dark-blue mb-0 py-2">Cancelar</h6>
                                </button>
                            </div>
                            <div class="col-md-6 mt-4">
                                <button class="btn br-16 text-light bg-dark-blue w-100" (click)="confirm()"
                                    type="button">
                                    <h6 class="fw-bolder mb-0 py-2">Salvar</h6>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
