<div class="container pt-5  h-75 w-100">
    <div class="row d-flex justify-content-center align-items-center m-3 text-center">
        <section class="col-md-5 mb-5 shadow py-4 px-5 w3-white br-16">
            <div class="w-100 d-flex justify-content-center">
                <img src="../../../assets/images/logo.jpg" class=" w-auto h-100 mb-4" style="max-height: 120px; ">   
            </div>
            <form class="pt-4">
                <h4 class="text-start"><b>Recuperar acesso</b></h4>
                <p class="text-start">Escolha uma nova senha para concluir o seu login.</p>
            </form>
            <form class="">
                <div class="col-sm-12 col-md-12 form-group my-1 mx-auto">
                    <p class="mb-0 text-end">3/3</p>
                    <div class="progress" style="height: 1px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress" style="height: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-sm-flex flex-column form-group col-sm-12 pt-2 col-dm-7 my-2">
                        <label class="mb-0 small text-start">Nova senha</label>
                        <input type="password" class="input-icon-key-right w-100 br-16 p-3 border text-start" placeholder="Senha">
                    </div>
                    <div class="d-sm-flex flex-column form-group col-sm-12 col-dm-7 mt-2">
                        <label class="mb-0 small text-start">Confirmar nova senha</label>
                        <input type="password" class="input-icon-key-right w-100 br-16 p-3 border text-start" placeholder="Confirmar Senha">
                    </div>
                </div>
                <div class="row mx-0 mt-5 d-flex align-content-center">
                    <div class="col-md-5  p0-important mt-2 px-0 pe-2">
                        <button (click)="confirm()" type="button"  class="btn  br-16 btn-outline-danger w-100"><h5 class="mb-0 py-2" >Cancelar</h5 ></button>
                    </div>
                    <div class="col-md-7  p0-important mt-2 px-0 ps-2">
                        <button (click)="confirm()" type="button"  class="btn  br-16 text-light bg-dark-blue w-100"><h5 class="mb-0 py-2">Confirmar</h5 ></button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>