<main class="w-100 d-flex justify-content-center mt-5 mb-5">
    <div class="row px-0 mt-5 container">
      <div class="col-12 mt-3">
        <div class="row px-0 justify-content-between">
          <div class="col-md mt-4">
            <div class="w-auto h-100 d-flex align-items-center">
              <img role="button"
                src="../../../assets/icons/arrow-left.svg"
                class="me-5" />
              <h1 class="text-dark fw-bolder mb-0">Perfil</h1>
            </div>
          </div>
          <div class="col-md-4 mt-4 d-flex justify-content-end">
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="row align-items-center">
          <div class="col-md-8 mt-3">
            <div class="input-group">
              <input type="search" name="search" 
                class="form-control py-3 br-16 bg-search pe-5"
                placeholder="Pesquisar" />
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="dropdown">
              <button class="btn w3-white border d-flex justify-content-between
                text-start align-items-center py-3 w-100 br-16 dropdown-toggle"
                type="button" id="orderbysupplier" data-bs-toggle="dropdown"
                aria-expanded="false">
                Ordenar por
              </button>
              <ul class="dropdown-menu" aria-labelledby="orderbysupplier">
                <li role="button"><a 
                    class="dropdown-item">Nome A-Z</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-0 overflow-x">
        <div style="min-width: 960px;" class="col-12 mt-5 px-0">
          <div class="row bg-blur bg-opacity-50 border mx-0 br-16 p-3">
            <div class="col h-100 br-16-circle align-items-center d-flex">
              <b class="mb-0 h4 fw-bolder" style="max-width: 230px;">Nome</b>
            </div>
            <div class="col h-100 br-16-circle align-items-center d-flex">
              <b class="mb-0 h4 fw-bolder">Conteúdo</b>
            </div>
            <div class="col h-100 br-16-circle align-items-center d-flex">
              <b class="mb-0 h4 fw-bolder">Horário</b>
            </div>
            <div class="col h-100 br-16-circle align-items-center d-flex">
              <b class="mb-0 h4 fw-bolder">Filtro</b>
            </div>
            <div class="col h-100 br-16-circle align-items-center d-flex">
              <b class="mb-0 h4 fw-bolder">Status</b>
            </div>
            <div class="col h-100 br-16-circle align-items-center d-flex">
            </div>
          </div>
        </div>
       