<main class="w-100 d-flex justify-content-center mt-5 mb-5">
  <div class="row px-0 mt-5 container">
    <div class="col-12 mt-3">
      <div class="row px-0 justify-content-between">
        <div class="col-md mt-4">
          <div class="w-auto h-100 d-flex align-items-center">
            <img role="button" src="../../../assets/icons/arrow-left.svg" class="me-5" />
            <h1 class="text-dark fw-bolder mb-0">Perfil</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-0 overflow-x">
      <div class="col-12 mt-5 px-0">
        <div class="row bg-blur bg-opacity-50 border mx-0 br-16 p-3" *ngFor="let item of userprofile">
          <div class="col h-100 br-16-circle align-items-center d-grid text-left">
            <b class="mb-0 h4 text-secondary ">Nome</b>
            <h3 class="fw-bolder">{{item.name}}</h3>
          </div>
          <div class="col h-100 br-16-circle align-items-center d-grid ">
            <div class="w-auto d-grid text-left">
            <b class="mb-0 h4 text-secondary ">E-mail</b>
            <h3 class="fw-bolder">{{item.email}}</h3>
            </div>
          </div>
          <div class="col h-100 br-16-circle align-items-center d-grid ">
            <div class="w-auto d-grid text-left p0-important" style="padding-left: 30%">
            <b class="mb-0 h4 text-secondary">Função</b>
            <h3 class="fw-bolder">{{item.funcoes}}</h3>
          </div>
          </div>
          <div class="col-12">

          </div>
          <div class="row justify-content-end d-flex mx-0 px-0 ">
            <div class="col-md-3 px-0 ">

              <button (click)="criateUserPasswordModal()" type="button" class="btn  py-2 btn-lg my-1 text-dark-blue w-100 br-16"
                style="border: 1px solid var(--darkblue);">
                <h5 class="mb-0 py-2">Alterar Senha</h5>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>