@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
:root {
  --darkblue: #0F214F;
  --graylight: rgba(255, 255, 255, 0.8);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans' !important;
}
// GLOBAL classse´s
.apexcharts-menu-icon {
  display: none !important;
}

.custom-pagination {
  display: flex;
  max-width: 300px;
  margin: auto;
}

.custom-pagination>div {
  flex: 1;
  font-size: 18px;
  cursor: pointer;
  padding: 0 1rem;
  text-align: center;
  border-bottom: 3px solid transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.custom-pagination>div.current {
  border-bottom: 2px solid rgb(0, 128, 255);
  padding: 0 1rem;
  cursor: pointer;
}

.bg-body {
  background-image: url(./assets/images/surface.png);
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  // background: var(--darkblue) !important;
}

.name-link {
  width: 40px;
  height: 40px;
  border: 2px solid var(--darkblue);
  text-align: center;
  line-height: 40px;
}

.section-dashboard {
  border-radius: 20px;
  border: 1px solid #CCD1EB;
  padding: 25px 30px 30px 30px;
  width: 100%;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.434);
}

.l-auto {
  left: auto !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.z-10 {
  z-index: 10;
}

.line-21 {
  line-height: 21px;
}


.input-icon-right {
  background-image: url('../src/assets/images/envelope-fill.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 35px;
  /* espaço para o ícone */
}

.input-icon-key-right {
  background-image: url('../src/assets/images/key-fill.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 35px;
  /* espaço para o ícone */
}

.input-icon-lock-right {
  background-image: url('../src/assets/images/lock-fill.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 35px;
  /* espaço para o ícone */
}

.bg-search {
  background-image: url(https://i.ibb.co/mCfBBp0/search.png);
  background-position: right;
  background-repeat: no-repeat;
}

// necessary-tool´s
.bg-dark-blue {
  background-color: var(--darkblue);
}

.bg-blur {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.637);
}

.text-dark-blue {
  color: var(--darkblue) !important;
}

.br-16 {
  border-radius: 16px;
}

.table-office {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.logo {
  max-height: 54px !important;
}

.i-file {
  height: 174px;
  top: -103px;
  width: 189px;
}

.i-file-marketing {
  height: 279px;
  top: -103px;
}

.p-name {
  padding: 10px 5px 1px 5px;
}

.modal-content {
  border-radius: 16px !important;
  background-color: transparent !important;
  border: none !important
}

.col-discription {
  width: 633px !important;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.col-name {
  width: 257px;
}

@media (max-width: 768px) {
  .p0-important-mobile {
    padding-left: 0px;
    padding-right: 0px;
  }

  .col-name {
    width: 247px !important;
  }
}

@media (max-width: 991px) {
  .p0-important {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 720px !important;
  }
}

@media(max-width:1399px) {
  .col-bar-3 {
    width: 244px !important;
  }

  .td-phone {
    width: 177px !important;
  }

  .col-name {
    width: 241px;
  }

  .col-description {
    width: 617px !important;
  }

  .col-type {
    width: 137px !important;
  }

  .col-price {
    width: 230px !important;
  }

  .col-tel {
    max-width: 163px !important;
  }

  .col-funcion {
    width: 336px !important;
  }
}

@media(max-width:1199px) {
  .col-bar-3 {
    width: 216px !important;
  }

  .td-phone {
    width: 149px !important;
  }

  .col-type {
    width: 122px !important;
  }

  .col-price {
    width: 198px !important;
  }

  .col-tel {
    max-width: 149px !important;
  }

  .col-discription {
    width: 577px !important;
  }

  .col-funcion {
    width: 334px !important;
  }
}

// analysis
.illustration {
  height: 101px;
  width: 101px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
