<form [formGroup]=""  class="row mx-2 w3-white p-4 br-16">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <h2 class="text-dark mb-0 fw-bolder">Confirmação</h2>
        <img   role="button" src="../../../../../assets/icons/x.png" class="" />
    </div>
    <div class="col-12">
        <p class="d-flex p-4 justify-content-center">Tem certeza que deseja excluir o usuário?</p>
        <div class="row px-0">
            <div class="col-md-6 mt-3">
                <button type="button"  class="btn w3-white h3 text-dark-blue w-100 py-3">
                    <h4 class="mb-0">Cancelar</h4>
                </button>
            </div>
            <div class="col-md-6 mt-3">
                <button type="submit" class="btn bg-danger h1 text-light w-100 py-3 br-16">
                    <h4 class="mb-0">Excluir</h4>
                </button>
            </div>
        </div>
    </div>
</form>